* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin: 20px;
}

.logo {
  height: 90px;
  width: 90px;
  border-radius: 50%;
}

.header-heading {
  font-size: 22px;
  font-weight: 500;
}

.header-location {
  font-size: 14px;
  color: grey;
  font-weight: 400;
}

.header-motto {
  font-size: 14px;
  color: black;
  font-weight: 400;
}

.home {
  background-color: #f6f7f8;
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-left: -20px;
  margin-right: 20px;
}

.link-tag {
  text-decoration: none;
}

.link-element {
  margin: 0;
  text-align: center;
  padding-top: 70px;
  height: 150px;
  width: 324px;
  background-color: #edf1fa;
  border-radius: 10px;
}

.notice-board {
  border: 0.5px solid #efefef;
  border-radius: 5px;
  width: 647px;
  text-align: justify;
  padding: 10px 25px;
}

.notice-paragraph {
  line-height: 1.6;
  font-size: 12px;
}

.notice-username {
  font-size: 12px;
}

.notice-date {
  font-size: 12px;
  color: #b5b6b6;
  float: right;
}

.home-contents {
  display: flex;
  justify-content: center;
  gap: 11px;
}

.banner {
  width: 647px;
  height: 230px;
  border-radius: 5px;
}

.footer {
  background-color: #e9e7f7;
  color: #6a46de;
  text-align: center;
  padding: 25px;
}

.footer p {
  margin: 0px;
}

.container {
  background-color: #f6f7f8;
  padding-top: 20px;
  padding-bottom: 20px;
}

.return-link {
  margin: 0;
  text-align: center;
  padding-top: 40px;
  height: 100px;
  width: 300px;
  background-color: #edf1fa;
  border-radius: 10px;
  margin-left: 30px;
}

.content-part {
  width: 90%;
  margin: auto;
}

.content-part h1 {
  text-align: center;
  color: #6a46de;
}

.content-part p {
  text-align: justify;
  line-height: 1.6;
}
